body {
    background-color: palegreen;
}

.card-img-top {
    display: flex;
    justify-content: center;
    height: 280px;
    width: 280px;
    object-fit:cover;
    object-position: 0 0;
  }


    

